<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <style>
      body {
        margin: 0px !important;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
    />
    
    
    <title>거북목 방지 프로젝트</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'frontend/process_image.js' %}"></script>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
